@model P5CreateFirstAppDotNet.Models.ViewModels.VehicleViewModel
@{
    ViewData["Title"] = "Supprimer un véhicule";
}

<div class="container text-center mt-5">
    <h2 class="text-center my-5">Supprimer le véhicule</h2>
    <h5 class="text-muted" role="alert">Etes-vous sûr de vouloir supprimer ce véhicule ? Cette action est irréversible.</h5>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Marque</dt>
				<dd class="col-sm-8">@Model.BrandName</dd>
				<dt class="col-sm-4">Modèle</dt>
				<dd class="col-sm-8">@Model.ModelName</dd>
				<dt class="col-sm-4">Finition</dt>
				<dd class="col-sm-8">@Model.TrimName</dd>
				<dt class="col-sm-4">VIN</dt>
				<dd class="col-sm-8">@Model.VIN</dd>
			</dl>
			<form asp-action="Delete" method="post" class="text-center mt-4">
				@Html.AntiForgeryToken()
				<input type="hidden" asp-for="Id" />
				<button type="submit" class="btn btn-custom">Confirmer la suppression</button>
				<a asp-action="Index" class="btn btn-secondary">Annuler</a>
			</form>
		</div>
	</div>
</div>
