@using Microsoft.AspNetCore.Identity
@using P5CreateFirstAppDotNet.Models.Entities
@inject SignInManager<IdentityUser> SignInManager
@model P5CreateFirstAppDotNet.Models.ViewModels.VehicleViewModel

@{
	ViewData["Title"] = "Détails de la voiture";

}

<main class="container" style="max-width: 900px; margin: 40px auto;">
	<a asp-action="Index" class="btn btn-return mb-4">
		&#x27F5; Retour
	</a>

    <article class="row align-items-start" aria-describedby="detailsVehicle">

        <div class="col-md-5 text-center mb-3">
            <img src="@Model.MediaPath" alt="Image du véhicule" class="img-fluid rounded border"
                 style="max-height: 400px;" />
        </div>

        <div class="col-md-7">
            @if (User.IsInRole("Admin"))
            {
                <p class="mb-1">Vous avez publié cette annonce, vous pouvez :</p>
                <div class="d-flex gap-3 mb-4">
                    <a asp-action="Edit" asp-route-id="@Model.Id" style="text-decoration: underline; background: none; border: none; color: #6c757d"
                        aria-label="Modifier le véhicule">
                        Modifier
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" style="text-decoration: underline; background: none; border: none; color: red;"
                       aria-label="Supprimer le véhicule">
                        Supprimer
                    </a>
                </div>
            }

            <ul class="list-unstyled">

                <li><strong>Prix de la vente :</strong> @Model.SalePrice?.ToString("N0") €</li>
                @if (User.IsInRole("Admin"))
                {
                    <li><strong>Date de la vente :</strong> @Model.SaleDate?.ToShortDateString()</li>
                }
                <li><strong>Année :</strong> @Model.YearOfProduction</li>
                <li><strong>Marque :</strong> @Model.BrandName</li>
                <li><strong>Modèle :</strong> @Model.ModelName</li>
                <li><strong>Finition :</strong> @Model.TrimName</li>
                <li><strong>Description :</strong><br /><span>@Model.Description</span>
                </li>
            </ul>

            @if (User.IsInRole("Admin"))
            {
                <ul class="list-unstyled">
                    <li><strong>Prix d'achat :</strong> @Model.PurchasePrice?.ToString("N0") €</li>
                    <li><strong>Date d'achat :</strong> @Model.PurchaseDate?.ToShortDateString()</li>

                    @if (Model.RepairDate != null || Model.RepairCost != null)
                    {
                        <li><strong>Date de la réparation :</strong> @Model.RepairDate?.ToShortDateString()</li>
                        <li><strong>Description de la réparation :</strong> @Model.RepairDescription</li>
                        <li><strong>Prix de la réparation :</strong> @Model.RepairCost?.ToString("N0") €</li>
                    }
                </ul>
            }
        </div>
    </article>

</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}