@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model P5CreateFirstAppDotNet.Models.ViewModels.VehicleViewModel

@{
	ViewData["Title"] = "Détails de la voiture";
	// Formatage du prix de vente
	string prixAffiche = "Non défini";

	if (!string.IsNullOrEmpty(Model.SalePrice) && decimal.TryParse(Model.SalePrice, out decimal prix))
	{
		prixAffiche = prix % 1 == 0
			? prix.ToString("N0") + " €"
			: prix.ToString("N2") + " €";
	}
}

<div class="container" style="max-width: 900px; margin: 40px auto;">
	<a asp-action="Index" class="btn btn-return mb-4">
		&#x27F5; Retour
	</a>

    <div class="row align-items-start">
        <div class="col-md-5 text-center mb-3">
            <img src="@Model.ImagePath" alt="Image du véhicule" class="img-fluid rounded border"
                 style="max-height: 400px;" />
        </div>

        <div class="col-md-7">
            @if (User.IsInRole("Admin"))
            {
                <p class="mb-1">Vous avez publié cette annonce, vous pouvez :</p>
                <div class="d-flex gap-3 mb-4">
                    <a asp-action="Edit" asp-route-id="@Model.VehicleId" style="text-decoration: underline; background: none; border: none; color: #6c757d;">
                        Modifier
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model.VehicleId" style="text-decoration: underline; background: none; border: none; color: red;">
                        Supprimer
                    </a>
                </div>
            }

            <h5 class="fw-bold">
                Prix de vente <span class="fw-normal">@prixAffiche</span>
            </h5>
            <p><strong>Année :</strong> @(Model.Year)</p>
            <p><strong>Statut :</strong> @(Model.StatusName)</p>
            <p><strong>Marque :</strong> @(Model.BrandName)</p>
            <p><strong>Modèle :</strong> @(Model.VehicleModelName)</p>
            <p><strong>Finition :</strong> @(Model.TrimName)</p>
            <p><strong>Description : </strong>@(Model.Description)</p>
            </div>
        </div>
    </div>


</div>
