@model IEnumerable<P5CreateFirstAppDotNet.Models.Entities.VehicleModel>

<div class="container" style="max-width: 800px; margin: 40px auto;">

	<h2 class="mt-5 mb-3" style="text-align: center">Liste des modèles</h2>

	<div class="text-center mb-4">
		<a class="btn btn-custom btn-add-car" asp-action="Create">+ Ajouter un modèle</a>
	</div>

	<table class="table table-striped" style="width: 100%; margin: 0 auto; border-collapse: collapse;">
		<caption id="table-description" class="visually-hidden">
			Tableau listant tous les modèles enregistrés avec options de modification et suppression.
		</caption>
		<thead style="border-bottom : 1px solid black;">
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Marque associée</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var vehicleModel in Model)
			{
				<tr>
					<td>@vehicleModel.Name</td>
					<td>
						@if (vehicleModel.Brand != null && !string.IsNullOrWhiteSpace(vehicleModel.Brand.Name))
						{
							@vehicleModel.Brand.Name
						}
						else
						{
							<em>Non associée</em>
						}
					</td>
					<td style="text-align: right; white-space: nowrap;">

						<a class="btn btn-custom" asp-action="Edit" asp-route-id="@vehicleModel.VehicleModelId" aria-label="Modifier la marque @vehicleModel.Name">Modifier</a>
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@vehicleModel.VehicleModelId" aria-label="Supprimer la marque @vehicleModel.Name">Supprimer</a>

					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
